@charset "UTF-8";

.feelive {
  background-color: #38435c;
  height: 2883px;
  position: relative;
}

.gnb {
  background-color: #38435c;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  z-index: 2;
}

.menuwrap {
  margin: 0px 60px;
  display: flex;
  justify-content: space-between;
}
.menu {
  color: white;
  margin: 0px;
  padding-top: 20px;
}

.topimg {
  position: relative;
}

.maintxt {
  position: absolute;
  top: 120px;
  left: 80%;
  z-index: 1;
  color: white;
}

.maintxt-top {
  margin: 80px 0px 60px 0px;
}

.maintxt h2 {
  font-size: 40px;
  line-height: 50px;
  color: white;
  font-weight: 700;
}

.maintxt p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: white;
}

.feelive-1 {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.feelive-2 {
  width: 100%;
  background-color: #38435c;
}

.feelive-2-p {
  font-size: 15px;
  line-height: 24px;
  color: white;
  font-weight: 400;
}

.feelive-2-h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: white;
}

.description-p {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.top-2-h1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.bottom-2-h1 {
  margin-top: 120px;
  margin-bottom: 60px;
}

.feelive-2-solution {
  width: calc(100% - 120px);
  margin: 0px 60px 120px 60px;
}

.feelive-2-static-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
}

.feelive-2-static-wrapper-2 {
  display: flex;
  justify-content: space-between;
  margin: 120px 150px;
}

.feelive-2-static-img {
  width: 40%;
}

.feelive-2-static-p {
  margin-left: 10%;
}

.feelive-3 {
  width: 100%;
  background-color: #ebecef;
}

.feelive-3-top-img {
  width: 100%;
}

.feelive-3-title {
  margin-top: 90px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.feelive-3-subtitle {
  margin-top: 60px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
  text-decoration: underline;
}

.feelive-3-img {
  width: calc(100% - 400px);
  margin: 90px 200px 60px 200px;
}

.feelive-3-logo {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 200px 120px 200px;
}

.feelive-3-logo img {
  width: 40%;
}

.feelive-3-logo p {
  width: 40%;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.feelive-4 {
  padding-bottom: 120px;
}

.feelive-4-img {
  width: 100%;
}

.feelive-4-img-1 {
  width: 100%;
  position: relative;
}

.feelive-4-img-1 p {
  position: absolute;
  left: 60px;
  top: 60px;
  color: #38435c;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.detail-description {
  display: flex;
  justify-content: space-around;
  margin: 30px 60px 60px 60px;
}

.feelive-4-img-2 {
  width: calc(100% - 120px);
  margin: 0px 60px;
}

.feelive-4-h1 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin: 100px 60px 60px 60px;
}

.feelive-4-img-3 {
  width: calc(100% - 600px);
  margin: 0px 300px;
}

.feelive-5 {
  width: 100%;
}

.feelive-5-img-1 {
  width: 100%;
}

.reserved {
  width: 100%;
  height: 60px;
  background-color: #38435c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserved p {
  color: white;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}
