@charset "UTF-8";

* {
  background-color: black;
  color: #ffe200;

  font-family: "Spoqa Han Sans Neo", "sans-serif";
  margin: auto;
}

.goldbest {
  padding-bottom: 120px;
}

.gnb {
  position: fixed;
  top: 0px;
  background-color: black;
  width: 100%;
  height: 60px;
}

.menuwrap {
  margin: 0px 60px;
  display: flex;
  justify-content: space-between;
}

.menu {
  color: #ffe200;
  padding-top: 20px;
}

.padding-area {
  width: 100%;
  height: 60px;
}

.title {
  margin: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.sub-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.sub-title-1 {
  margin: 20px 60px 0px 60px;
}

.sub-title-2 {
  margin: 60px;
}

.bigthum {
  width: 100%;
}

.context {
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}

.explain-title {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.explain {
  margin-top: 20px;
  margin-bottom: 120px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  width: 600px;
  text-align: center;
}

.poster-title {
  margin-bottom: 60px;
}

.poster-img {
  width: calc(100% - 120px);
  margin: 0px 60px;
}

.poster-back {
  height: 914px;
  background: #2a2a2a;
  margin: 60px 60px 0px 60px;
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: 60px; */
}

.a1poster {
  margin-top: 120px;
  width: 30%;
}

.a1-title {
  background-color: #2a2a2a;
}

.book-title {
  margin-top: 120px;
  margin-bottom: 60px;
}

.guide-background-wrapper {
  margin: 0px 60px;
}

.guide-margin {
  margin-bottom: 60px;
}

.guide-background-wrapper img {
  width: 100%;
  height: 100%;
  background: #2a2a2a;
}
