@charset "UTF-8";

* {
    background-color: black;
    color: #FFE200;

    font-family: Spoqa Han Sans Neo;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}