@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

::-webkit-scrollbar {
  display: none !important;
}

.gnb {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  z-index: 2;
  background-color: white;
}

.menuwrap {
  display: flex;
  justify-content: space-between;
  margin: 0px 60px;
}

.menu {
  color: black;
  padding-top: 20px;
}

.padding-area {
  width: 100%;
  height: 60px;
}

img {
  border-radius: 10px;
}

.boxwrap {
  height: 100%;
  margin: 0px 60px;
  position: relative;
}

.th_list {
  position: absolute;
  border-radius: 10px;
}

.th_list2 {
  position: absolute;
  left: 580px;
  border-radius: 10px;
}

.th_list3 {
  position: absolute;
  left: 580px;
  top: 320px;
  border-radius: 10px;
}

.th_list4 {
  position: absolute;
  left: 0px;
  top: 540px;
  border-radius: 10px;
}

.th_list5 {
  position: absolute;
  left: 480px;
  top: 540px;
  border-radius: 10px;
}

.th_list6 {
  position: absolute;
  left: 960px;
  top: 320px;
  border-radius: 10px;
}
