@charset "UTF-8";

/*@font-face{
   font-family:"Aventa Thin";   
   font-style:normal;
   font-weight:600;
   src:url('../font/EllenLuff - Aventa Thin.otf');
   src: local(Aventa Thin),
   url('../font/EllenLuff - Aventa Thin.otf') format('otf'),
}*/


*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
}

html, body{
   font-family: Aventa;
   font-style: normal;
   font-weight:600;
   font-size:15px;
   color:#434343;
   line-height:1;
   width: 100%;
}

body {
   margin:60;
   padding:60;
}

nav a {
   font-family: Spoqa Han Sans Neo;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0em;
   text-align: left;
}

nav ul, li{
   list-style:none;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section{
   display:block;
}

a{
   text-decoration:none;
   color: black;
}

.grid {
    max-width: 88%;
    width: 1440px;
    margin: 0 auto;

}


